<ul class="position-list bg-w">
  <li ui-sref="position({id:item.id})" class="item p-r" ng-repeat="item in data |filterByObj:filterObj">
    <img ng-src="{{item.imageUrl}}" alt="" class="logo f-l">
    <h3 class="title d-ib" ng-bind="item.job"></h3>
    <span class="text ng-binding" ng-bind="item.salaryName"></span>
    <p class="text" ng-bind="item.companyName+'['+item.cityName+']'+' '+item.industryName+' '+item.scaleName"></p>
    <p class="text" ng-bind="item.date"></p>
    <!--$event.stopPropagation();阻止事件冒泡,父元素中的跳转事件  -->
    <span ng-if="isFavorite" ng-click="$event.stopPropagation();select(item)" class="p-a icon {{item.select?'star-active':'star'}}"></span>
    <div class="clear"></div>
  </li>
</ul>
